.CalcBtnWrap{
    text-align: center;
}
.CalcBtn{
    padding: 10px;
    background: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.CalcBtn:disabled{
    cursor: not-allowed;
}

.CalcBtn:hover{
    background: limegreen;
}

.CalcBtn:active{
    color: aqua;
}